<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Project</title>
</head>
<body>
    <%- include('../partials/navbar') %>
    <h1>All Project</h1>
    <h2>Welcome, <%= user.username %>!</h2>
    <%projects.forEach((project)=>{%>
        <p>project title:
        <%= project.title %>
        </p>
        <p>description: <%= project.description%></p>
        <a href="/project/<%=project._id%>">Details</a>
        <br>
    <%})%>
</body>
</html>