<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Details</title>
</head>
<body>
   <%- include('../partials/navbar') %>
   <h1>project details</h1> 
   <p>project title: <%=foundProject.title%></p>
   <p>project description: <%=foundProject.description%></p>
   <p>project category: <%=foundProject.category%></p>
   <p>project tags: <%=foundProject.tags%></p>
   <% if (foundProject.date) { %>
    <p>project date: <%= new Date(foundProject.date).toLocaleDateString() %></p>
   <% } %>
   <% if(foundProject.attachments) {  %>
    <p>project attachments:</p>
    <img src="<%= foundProject.attachments %>"/>
    <% } %>
   <p>project creator: <%=foundProject.creator.username%></p>
   <a href="/project/<%= foundProject._id %>/edit">Edit</a>
</body>
</html>