<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Edit</title>
</head>
<body>
    <%- include('../partials/navbar') %>
    <form action="/project/<%=foundProject._id%>?_method=PUT" method="post">
        <label for="title">title:</label>
        <input type="text" name="title" id="title" required placeholder="Enter project title" value="<%=foundProject.title%>">
        <br>
        <label for="description">description:</label>
        <textarea name="description" id="description" required ><%=foundProject.description%></textarea><br>
        <br>
        <label for="category">category:</label>
        <select name="category" id="category">
            <option value="academic"<% if (foundProject.category === 'academic'){ %> selected <% } %>>
            academic</option>
            <option value="professional"<% if (foundProject.category === 'professional'){ %> selected <% } %>>
            professional</option>
            <option value="personal"<% if (foundProject.category === 'personal'){ %> selected <% } %>>
            personal</option>
        </select>
        <br>
        <label for="tags">tags:</label>
        <input type="text" name="tags" id="tags" value="<%=foundProject.tags%>">
        <br>
        <label for="date">date:</label>
        <% if (foundProject.date) { %>
            <input type="date" name="date" id="date" value="<%= foundProject.date.toISOString().slice(0, 10) %>">
        <% } else { %>
            <input type="date" name="date" id="date">
        <% } %>
        <br>
        <label for="attachments">attachments:</label>
        <input type="file" name="attachments" id="attachments" value="<%=foundProject.attachments%>">
        <br>
        <button>Update</button>
    </form>
    <form action="/project/<%= foundProject._id %>?_method=DELETE" method="post">
            <button type="submit">Delete</button>
    </form>
</body>
</html>