<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Edit</title>
</head>
<body>
    <%- include('../partials/navbar') %>
    <form action="/project/<%=project._id%>?_method=PUT" method="post" enctype="multipart/form-data">
        <label for="title">title:</label>
        <input type="text" name="title" id="title" required value="<%=project.title%>">
        <br>
        <label for="description">description:</label>
        <textarea name="description" id="description" required><%=project.description%></textarea><br>
        <br>
        <label for="category">category:</label>
        <select name="category" id="category">
            <option value="academic"<% if (project.category === 'academic'){ %> selected <% } %>>
            academic</option>
            <option value="professional"<% if (project.category === 'professional'){ %> selected <% } %>>
            professional</option>
            <option value="personal"<% if (project.category === 'personal'){ %> selected <% } %>>
            personal</option>
        </select>
        <br>
        <label for="tags">tags:</label>
        <input type="text" name="tags" id="tags" value="<%=project.tags%>">
        <br>
        <label for="date">date:</label>
        <% if (project.date) { %>
            <input type="date" name="date" id="date" value="<%= project.date.toISOString().slice(0, 10) %>">
        <% } else { %>
            <input type="date" name="date" id="date">
        <% } %>
        <br>
        
        <!-- Display existing attachments -->
        <% if (project.attachments && project.attachments.length > 0) { %>
            <label>Current attachments:</label><br>
            <% project.attachments.forEach(function(attachment) { %>
                <div>
                    <% if (attachment.url.match(/\.(jpg|jpeg|png|gif)$/i)) { %>
                        <img src="<%= attachment.url %>" alt="Attachment" style="max-width: 200px; max-height: 200px;"><br>
                    <% } else { %>
                        <a href="<%= attachment.url %>" target="_blank">View File</a><br>
                    <% } %>
                </div>
            <% }); %>
        <% } %>
        
        <label for="attachments">Add new attachments:</label>
        <input type="file" name="attachments" id="attachments" multiple accept="image/*,.pdf,.zip">
        <br>
        <button>Update</button>
    </form>
    <form action="/project/<%= project._id %>?_method=DELETE" method="post">
            <button type="submit">Delete</button>
    </form>
</body>
</html>