<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Details</title>
</head>
<body>
   <%- include('../partials/navbar') %>
   <h1>project details</h1> 
   <p>project title: <%=project.title%></p>
   <p>project description: <%=project.description%></p>
   <p>project category: <%=project.category%></p>
   <p>project tags: <%=project.tags%></p>
   <% if (project.date) { %>
    <p>project date: <%= new Date(project.date).toLocaleDateString() %></p>
   <% } %>
   <% if (project.attachments && project.attachments.length > 0) { %>
       <p>Attachments:</p>
       <div>
        <% project.attachments.forEach((attachment)=>{ %>
            <% if (attachment.url) { %>
             <% if (attachment.url.match(/\.(jpg|jpeg|png|gif)$/i)) { %>
                <img src="<%= attachment.url %>" alt="Attachment" >
            <% }else{ %>
                <a href="<%= attachment.url %>" target="_blank" style="text-decoration: none; color: #007bff;">📎 View File </a>
            <% } %>
            <% } %>
        <% }) %>
       </div>
    <% } %>
   <p>Creator:<%=project.creator.username%></p>
   <a href="/project/<%= project._id %>/edit">Edit Project</a>
   <a href="/project/all">Back to Projects</a>
</body>
</html>