<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Details</title>
</head>
<body>
   <h1>project details</h1> 
   <p>project title: <%=foundProject.title%></p>
   <p>project description: <%=foundProject.description%></p>
   <p>project category: <%=foundProject.category%></p>
   <p>project tags: <%=foundProject.tags%></p>
   <p>project date: <%=foundProject.date%></p>
   <p>project attachments: <%=foundProject.attachments%></p>
   <p>project creator: <%=foundProject.creator%></p>
</body>
</html>