<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/dashboard.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <title>Dashboard</title>
</head>
<body>
    <%- include('../partials/navbar', {user}) %>
     <main>
        <% if (projects && projects.length > 0) { %>
        <h1>All Projects Here</h1>
        <p id="add-link"><a href="/project/new">Add More!</a></p> 
        <div class="projects-container">
            <% projects.forEach(project=>{%>

                <div class="card">
                    <div class="card-image">
                        <% if(project.headerImage && project.headerImage.url) { %>
                            <img src="<%= project.headerImage.url %>" alt="<%= project.title %>" class="card-image-img">
                        <% } else { %>
                            <div class="default-image"></div>
                        <% } %>
                    </div>
                
                <p class="card-title"><%= project.title %></p>
                <p class="card-body"><%= project.category %></p>

                <% if(project.date){ %>
                <p class="date"><%= new Date(project.date).toLocaleDateString('en-US', {day: 'numeric', month: 'short', year: 'numeric'}) %></p>
                <% } %>
                <a class="footer" href="/project/<%=project._id%>">Details</a>
                </div>
                <% }) %>
        </div>
            <% } else { %>
            <div class="empty-state">
                <!-- <img src="/images/n.png" alt="No Projects" class="picture"/> -->
                <p>No projects yet</p>
                <a href="/project/new">Add Your First Project</a>
            </div>
            <% } %>
    </main>
</body>
</html>